
 {{> header outside=outside}}
  <main class="min-vh-100 d-flex justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="m-ranking__image">
            <img src="/img/rank.png" alt="ranking" />
          </div>
          <h1 class="m-ranking__title">Ranking Conquer</h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Cells Conquered</th>
                <th scope="col">Total Wins</th>
              </tr>
            </thead>
            <tbody>
              {{#each rankingData}}
              <tr>
                <th scope="row">{{incrementedIndex @index}}</th>
                <td>{{{name}}}</td>
                <td>{{rankingStatus.cellsConquered}}</td>
                <td>{{rankingStatus.wins}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>